<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/employee-signup.css" />
  </head>
  <body>
    <div class="sign-up-container">
      <h2>Sign Up</h2>
      <form class="form">
        <div class="input-container">
          <div class="column">
            <input class="input-form" id="input-name" placeholder="Name" />
            <input
              class="input-form"
              id="input-last-name"
              placeholder="LastName"
            />
            <input class="input-form" id="input-dni" placeholder="Dni" />
            <input class="input-form" id="input-birth" placeholder="Birth" />
            <input
              class="input-form"
              id="input-telephone"
              placeholder="Cellphone"
            />
            <input
              class="input-form"
              id="input-address"
              placeholder="Address"
            />
          </div>
          <div class="column">
            <input
              class="input-form"
              id="input-localidad"
              placeholder="Localidad"
            />
            <input class="input-form" id="input-postal" placeholder="Postal" />
            <input class="input-form" id="input-email" placeholder="Email" />
            <input
              class="input-form"
              id="input-password"
              placeholder="Password"
            />
            <input
              class="input-form"
              id="input-password2"
              placeholder="Repeat Password"
            />
          </div>
        </div>
      </form>
      <button class="sign-up-btn">Register</button>
    </div>
  </body>
  <script src="../javascrips/employee-signup.js"></script>
</html>
