<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/employee-signup.css" />
  </head>
  <body>
    <div class="sign-up-container">
      <h2>Sign Up</h2>
      <form class="form">
        <div class="input-container">
          <div class="column">
            <input class="input-form" placeholder="Name" />
            <input class="input-form" placeholder="LastName" />
            <input class="input-form" placeholder="Dni" />
            <input class="input-form" placeholder="Birth" />
            <input class="input-form" placeholder="Cellphone" />
            <input class="input-form" placeholder="Address" />
          </div>
          <div class="column">
            <input class="input-form" placeholder="Localidad" />
            <input class="input-form" placeholder="Postal" />
            <input class="input-form" placeholder="Email" />
            <input class="input-form" placeholder="Password" />
            <input class="input-form" placeholder="Repeat Password" />
          </div>
        </div>
      </form>
      <button class="sign-up-btn">Register</button>
    </div>
  </body>
</html>
