* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  margin-left: 446px;
  padding: 0 2%;
}
aside {
  width: 446px;
  height: 100%;
  position: fixed;
  top: 120px;
  left: 0;
  z-index: 100;
}
header {
  color: #373867;
  font-size: 40px;
  align-items: center;
  height: 120px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
}
header h2 {
  float: left;
  margin-top: 25px;
}
header img {
  float: right;
  margin-top: 10px;
}
#side-bar {
  width: 100%;
  height: 100%;
  background: #d0cdcd;
}
#side-bar-header {
  width: 446px;
  height: 106px;
  background: #ebebeb;
}
#input-side-bar {
  border-radius: 5px;
  border-color: #d0cdcd;
  height: 35px;
  width: 250px;
  margin: 35px 0px 0px 95px;
}
#label-menu {
  text-decoration: underline;
  text-decoration-color: #aace9b;
  font-size: 64px;
  line-height: 75px;
  margin-left: 10%;
}
.button-open-sidebar {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 375px;
  right: 15px;
  top: 130px;
  bottom: 375px;
}
#btns-side-bar {
  background-color: #d0cdcd;
  height: 320px;
  font-size: 36px;
}
#btns-side-bar button {
  width: 200px;
  height: 100px;
  font-size: 36px;
  cursor: pointer;
  background-color: transparent;
  border: transparent;
}
.line-side-bar {
  border: 2px solid #aace9b;
  width: 85%;
  margin: 0 auto;
}
.line-main {
  border: 2px solid #aace9b;
  width: 100%;
  margin: 0 auto;
  background-color: #aace9b;
}
.side-bar-contact-info label {
  font-size: 36px;
  text-align: center;
  margin-left: 10%;
}
.side-bar-contact-info p {
  width: 390px;
  height: 140px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  color: rgb(47, 45, 45);
}
.side-bar-contact-info-url {
  margin-left: 10%;
  font-weight: 500;
  align-items: left;
  text-align: left;
}
.side-bar-contact-info-url i {
  width: 40px;
  height: 28px;
}
h1 {
  font-size: 50px;
  line-height: 58.59px;
  font-weight: 400;
}
h2 {
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
}
#app-info-section {
  display: inline-block;
  padding: 0px;
  height: 703.86px;
  width: 100%;
}
#app-info-section img {
  float: right;
  width: 556px;
  height: 577.26px;
  vertical-align: middle;
}
#app-info-section p {
  float: left;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #958888;
  text-align: left;
  vertical-align: middle;
  width: 600px;
  margin: 200px 0px 0px 120px;
}
.funcionalities-section {
  display: inline-block;
  width: 35%;
  color: #373867;
  font-weight: bold;
  border: 1px solid #373867;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
  margin-left: 80px;
}
#info-section {
  line-height: 35px;
  padding: 140px;
}
#info-section h3 {
  font-weight: 700;
}
#info-section div {
  display: inline-block;
  width: 45%;
}
form {
  height: 400px;
  columns: 2;
  margin-top: 200px;
}
form div {
  width: 600px;
  height: 400px;
}
.history-section {
  height: 800px;
  width: 100%;
}
.blur-img {
  height: 300px;
  margin: 30px;
  vertical-align: middle;
}
span {
  width: 100px;
}
#history-article-left {
  float: left;
}
#history-article-right {
  float: right;
}
footer {
  margin-left: 446px;
  padding: 0 2%;
  height: 300px;
  text-align: center;
}
.footer-list {
  display: inline-block;
  width: 30%;
  align-items: center;
}
.line-bottom {
  border-bottom: 3px solid #aace9b;
}
#media-icons i {
  width: 62px;
  height: 62px;
}
